*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  margin: 0;
  font-family: "Akatab", sans-serif;
  font-size: 1.125rem;
}

p {
  padding-block: 16px;
  line-height: 30px;
  letter-spacing: 0.0125rem;
}

h1 {
  padding-top: 2rem;
}

h2 {
  padding-top: 4rem;
  font-family: "Diphylleia", serif;
}

.wrapper {
  font-size: 14pt;
  font-family: "Akatab", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80ch;
  min-height: max(60dvh, 10rem);
  margin-inline: auto;
  padding-inline: 2rem;
  text-align: center;
}

header {
  justify-content: center;
  display: flex;
  padding-block: 24rem;
}
header h1 {
  text-align: center;
}

.stickyWrap {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  z-index: 1;
  grid-column: 1/span 2;
  grid-row: 1;
}

aside {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1;
  grid-row: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: max(100dvh, 37.5rem);
  padding-inline: 1rem 1.5rem;
  border-radius: 0 0.625rem 0.625rem 0;
  font-size: 0.875rem;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
}
aside ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1.5rem;
}
aside li {
  font-family: "Caprasimo", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms ease-out;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  gap: 0.75rem;
}
aside li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transition: border-color 250ms ease-out;
  border: 0.125rem solid;
  border-radius: 999999rem;
}

.progressBar {
  position: sticky;
  z-index: 2;
  top: 0;
  grid-column: 1/span 2;
  grid-row: 1;
  width: 100%;
  height: 1rem;
}
.progressBar .indicator {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  transition: right 100ms ease-out;
}

footer .wrapper {
  min-height: max(100dvh, 37.5rem);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #130213;
    color: #ee00ff;
  }
  section:nth-of-type(odd) {
    background-color: #250f39;
  }
  aside {
    background: rgba(215, 57, 255, 0.5);
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  }
  aside li {
    color: #250929;
  }
  aside li::before {
    border-color: #250929;
  }
  aside li:hover {
    color: #ee00ff;
  }
  aside li:hover::before {
    border-color: #ee00ff;
  }
  aside .pressed {
    color: #ee00ff;
  }
  aside .pressed::before {
    border-color: #ee00ff;
    background-color: #ee00ff;
  }
  .progressBar {
    background-color: #2f083d;
  }
  .progressBar .indicator {
    background-color: #ee00ff;
  }
  footer {
    background-color: #250f39;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #180215;
    color: #ee00ff;
  }
  section:nth-of-type(odd) {
    background-color: rgba(35, 3, 48, 0.6980392157);
  }
  aside {
    background: rgba(116, 72, 132, 0.5);
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  }
  aside li {
    color: #250f39;
  }
  aside li::before {
    border-color: #250f39;
  }
  aside li:hover {
    color: #ee00ff;
  }
  aside li:hover::before {
    border-color: #ee00ff;
  }
  aside .pressed {
    color: #ee00ff;
  }
  aside .pressed::before {
    border-color: #ee00ff;
    background-color: #ee00ff;
  }
  .progressBar {
    background-color: #130213;
  }
  .progressBar .indicator {
    background-color: #ee00ff;
  }
  footer {
    background-color: rgba(35, 3, 48, 0.6980392157);
  }
}
@media (width <= 62.5rem) {
  .stickyWrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    display: flex;
    top: 1rem;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-content: start;
    width: unset;
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: unset;
    overflow-x: scroll;
    border-radius: 0 0 0.625rem 0.625rem;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  aside::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  aside ol {
    flex-direction: row;
    justify-content: start;
    gap: 4rem;
  }
  aside::before, aside::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 2rem;
    height: 100%;
  }
  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}