* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
#section1 {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
    background-color: cadetblue;
  }
  #section2 {
    height: 200vh;
    .square {
      position: sticky;
      top: 50px;
    }
  }
  #section3 {
    height: 200vh;
  }
}
.container {
  margin-inline: auto;
  max-width: 60rem;
  padding-inline: 24px;
  background-color: bisque;
}
.wrapper {
  padding-block: 32px;
  background-color: bisque;
}
.square {
  width: 12.5rem;
  aspect-ratio: 1 / 1;
  &:nth-of-type(1) {
    // position: static;
    // position: relative;
    // position: absolute;
    background-color: aqua;
  }
  &:nth-of-type(2) {
    position: absolute;
    bottom: 50px;
    right: 25px;
    background-color: rgb(39, 222, 11);
  }
  &:nth-of-type(3) {
    background-color: rgb(0, 132, 255);
  }
}
