* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
// 기본으로 세팅해두는 초기설정값
// 스포카: 웹폰트로 사용하는 구글폰트 외의 교수님 추천 사이트

img {
  display: block;
  // 이미지와 텍스트 사이 인라인으로 인해 생긴 갭을 없애줌
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}
// 화면의 너비가 60픽보다 작을 때 미디어의 컨테이너 인라인을 16픽으로
// 설정해서 서로다른 패딩이 적용될 수 있도록 함

.wrapper {
  padding-block: 2rem;
}

#section1 {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
  // id로 래퍼 섹션1로 설정해서 따로 설정하고, 카드 가로로 늘여뜨려놓는 코드
}

.card {
  // 포지션:relative 자기 자리로 부터 탑 바텀 설정해서 작동
  // 포지션: absolute하면 카드가 자기 위에있는 다른 릴레이트 값이 있는 부모요소 위로 뜨면서 옆카드가 옆으로옴
  // 포지션: fixed하면 메뉴바나 팝업창 처럼 스크롤 해도 따라옴
  // 포지션: sticky하면 카드가 래퍼 영역 안에서 스크롤을 따라옴
  cursor: pointer;
  max-width: 18.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  // 프레임 넘치는 것을 클리핑하는 기능
  // transition: transform 500ms ease,
  //   box-shadow 500ms ease;
  transition: all 500ms ease;
  &:hover {
    transform: translateY(-0.125rem) scale(1.01);
    // 위 아래 효과 중요하구 트랜스폼은 엠디엔에서 클릭해서 보고 만들면 됨
    box-shadow: 0 0.5rem 0.75rem 0.375rem rgba(0, 0, 0, 0.15),
      0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    .card__img {
      filter: grayscale(0);
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 500ms ease;
    // &:hover {
    //   filter: grayscale(0);
    // }
  }
  &__text {
    padding: 1rem;
    h3 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      // 플랙스보다는 마진으로 설정하는 것을 추천
    }
    p {
      $lineHeightVal: 1.5rem;
      $clampLine: 4;
      line-height: $lineHeightVal;
      overflow: hidden;
      text-overflow: ellipsis;
      // 튀어나온 것을 숨기고, ...으로 처리해줌
      // white-space: nowrap;으로 하면 한줄하고...아래 코드 없어도 됨
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-line-clamp: $clampLine;
      -webkit-line-clamp: $clampLine;
      max-height: $clampLine * $lineHeightVal;
    }
  }
  &__buttons {
    padding: 1rem;
    display: flex;
    // 가로정렬
    justify-content: end;
    // 어떤 방향으로 가로정렬할지
    gap: 0.5rem;
  }
}

.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: rgb(0, 255, 30);
  color: rgba($color: #000000, $alpha: 0.87);
  border-radius: 62.4375rem;
  transition: background-color 300ms ease;
  &:hover {
    background-color: rgb(0, 150, 5);
  }
  &--type {
    &-text {
      background-color: unset;
      color: rgb(0, 255, 76);
      padding-inline: 0.5rem;
      transition: color 300ms ease;
      &:hover {
        background-color: unset;
        color: rgb(0, 82, 59);
      }
    }
  }
}
// .badge {
//   position: absolute;
//   right: -0.5rem;
//   top: -0.5rem;
//   aspect-ratio: 1 / 1;
//   min-width: 1.25rem;
//   width: fit-content;
//   padding: 0.25rem;
//   font-size: 0.6875rem;
//   line-height: 0.75rem;
//   font-weight: bold;
//   background-color: red;
//   color: rgba($color: #ffffff, $alpha: 0.87);
//   border-radius: 62.4375rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
